  /*                       */
 /* Default style imports */
/*                       */

@import 'base';


// Should get Hancock to embed these in base, at some point:

@import 'header';
@import 'footer';

.no-scroll {
  max-height: 100vh;
  overflow: hidden;
  position: fixed;
}

.cover {
  position: fixed;
  top: 51px;
  left: 0;
  overflow: hidden;
  z-index: 100;
  width: 100%;
  height: calc(100vh - 51px);
  background-color: $black33;
}

.cover__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover__content {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba($borderbeige, .5);
  text-align: center;
  padding: 10vh 10px 0;
  color: white;
  h1, h2 {
    font-weight: bold;
    max-width: 650px;
    margin: 0 auto;
  }
  h1 {
    @include type(5rem, 5.4rem, 1.2rem);
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(15,15,15,.9);
    letter-spacing: -.5px;
  }
  h2 {
    @include type(2rem, 2.4rem, 2.4rem);
  }
  button {
    background-color: white;
    border: none;
    padding: 15px 20px;
    color: black;
    font-weight: bold;
    @include type(1.4rem, 1.4rem, 0);
    text-transform: uppercase;
    cursor: pointer;
    @include transition(all, .2s, ease-out);
    text-shadow: -1px 1px rgb(235,235,235);
    &:hover {
      background-color: $black235;
    }
    &:active {
      background-color: $black215;
    }
  }
}
.cover__logo {
  width: 20%;
  max-width: 150px;
  margin-bottom: 2.4rem;
}

.cover__branding {
  position: absolute;
  bottom: 10px;
  left: 0;
}

.cover__branding {
  max-width: 280px;
  left: 50%;
  margin-left: -140px;
}

.cover--small {
  max-width: 50px;
  float: left;
  &:first-of-type {
    margin-right: 15px;
  }
}
.cover--large {
  max-width: 150px;
  float: left;
  // clear: both;
  margin-right: 15px;

}

@media (min-aspect-ratio: 16/9) {
  .cover__video {
    width: 100% !important;
    height: 300% !important;
    top: -100%;
    left: 0 !important;
  }
}

@media (max-aspect-ratio: 16/9) {
  .cover__video {
    height: 110%;
    width: 325%;
    left: -112.5%;
  }
}


#map {
  width: calc(100% - 400px);
  height: 100%;
  position: fixed;
  top: 0px;
  left: 500px;
  background-color: $black33;
  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    cursor: default;
    content: "";
  }
  .mapboxgl-ctrl-attrib {
    display: none !important;
    visibility: hidden;
  }
  @media (max-width: 1000px) {
    width: calc(100% - 300px);
    left: 400px;
  }
  @media (max-width: 800px) {
    width: 100%;
    left: 0;
    top: 0;
    height: 50vw;
    z-index: 10;
    border-bottom: 3px solid $borderBrown;
    box-shadow: 0 5px 5px rgba(15,15,15,.5);
  }
  @media (max-width: 450px) {
    height: 56vw;
  }
}

#minimap {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 150px;
  height: 120px;
  background-color: black;
  border: 2px solid black;
  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    cursor: default;
    content: "";
  }
  .mapboxgl-ctrl-attrib {
    display: none !important;
    visibility: hidden;
  }
  @media screen and (max-width: 800px) {
    width: 100px;
    height: 80px;
    bottom: auto;
    top: calc(50vw - 100px);
    z-index: 15;
  }
  @media screen and (max-width: 450px) {
    top: calc(56vw - 90px);
    right: 10px;
  }
}

.locator {
  width: 14px;
  height: 14px;
  border: 2px solid $borderBrown;
}

#content {
  max-width: 500px;
  @media (max-width: 1000px) {
    max-width: 400px;
  }
  @media (max-width: 800px) {
    max-width: none;
    width: 100%;
    padding-top: calc(50vw - 60px);
  }
}



#upper-block {
  background-color: $borderbeige;
  padding-bottom: 50px;
  color: rgb(15,15,15);
  margin-bottom: 50px;
  position: relative;
  &:after {
    @include psuedoElement(30px, 30px, absolute);
    background-color: $borderbeige;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -15px;
    @include rotate(45deg);
  }
  @media (max-width: 800px) {
    padding-top: 4.8rem;
  }
}

.location {
  margin-bottom:  9rem;
  padding-bottom: 9rem;
  border-bottom: 5px solid $borderbeige;
  position: relative;
  &:after {
    @include psuedoElement(32px, 64px, 'absolute');
    position: absolute;
    bottom: -32px;
    left: 50%;
    margin-left: -16px;
    background-image: url('../images/_wall.svg');
    background-repeat: no-repeat;
  }
  &.no-pad {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
    &:after {
      display: none;
    }
  }
  img, video {
    width: 100%;
    margin-bottom: 1.2rem;
  }
  h4, h5, h6 {
    font-family: $sans;
    font-weight: bold;
  }
  h4 {
    letter-spacing: -.1px;
    @include type(3rem, 3.6rem, .3rem);
  }
  h5 {
    text-transform: uppercase;
    color: $black33;
    margin-bottom: .3rem;
  }
  h6 {
    font-family: $sans;
    padding-left: 1.5rem;
    background-image: url('../images/_marker-brown.png');
    background-repeat: no-repeat;
    background-position: left 5px;
    background-size: 1rem;
    @include type(1.2rem, 2.4rem, 0);
    text-transform: uppercase;
    color: $borderBrown;
    position: relative;
    &last-of-type:after {
      @include psuedoElement(200px, 5px, relative);
      border-bottom: 1px dotted $borderBrown;
      left: -1.5rem;
      margin-bottom: 1.2rem;
    }
  }
  p {
    @include type(1.4rem, 2.4rem, 2.4rem);
    padding-bottom: 2.4rem;
    border-bottom: 1px solid $black235;
    &:last-of-type {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

.map__label {
  font-family: $sans;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(15,15,15,.8);
  text-transform: uppercase;
}

.city {
  margin-top: -9px;
  @include type(12px, 12px, 0);
  padding: 3px;
  margin-left: 10px;
  font-weight: normal;
  background-color: rgba($black33, .85);
}

.country {
  opacity: .5;
  @include type(3rem, 3rem, 0);
  margin-left: 0;
  @media (max-width: 800px) {
    left: 20px !important;
    &.label__mexico {
      left: -60px !important;
    }
  }
}

.pin {
  width: 20px;
  height: 100px;
  background-image: url('../images/_marker-brown.png');
  background-size: 20px;
  background-repeat: no-repeat;
}

.shareComments {
  padding: 0 0;
}
